<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.fennoma.paymentezsdk">

    <application
        android:allowBackup="true">

        <activity android:name=".controllers.PmzStoresActivity" android:theme="@style/PaymentezAppTheme"/>
        <activity android:name=".controllers.PmzMenuActivity" android:theme="@style/PaymentezAppTheme"/>
        <activity android:name=".controllers.PmzProductActivity" android:theme="@style/PaymentezAppTheme"/>
        <activity android:name=".controllers.PmzSummaryActivity" android:theme="@style/PaymentezAppTheme"/>
        <activity android:name=".controllers.PmzResultActivity" android:theme="@style/PaymentezAppTheme"/>
        <activity android:name=".controllers.PmzPaymentCheckerActivity" android:theme="@style/PaymentezAppTheme"/>
    </application>

</manifest>