<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paymentez.plazez.sdk">

    <application
        android:allowBackup="true">

        <activity android:name="com.paymentez.plazez.sdk.controllers.PmzStoresActivity" android:theme="@style/PaymentezAppTheme"/>
        <activity android:name="com.paymentez.plazez.sdk.controllers.PmzMenuActivity" android:theme="@style/PaymentezAppTheme"/>
        <activity android:name="com.paymentez.plazez.sdk.controllers.PmzProductActivity" android:theme="@style/PaymentezAppTheme"/>
        <activity android:name="com.paymentez.plazez.sdk.controllers.PmzSummaryActivity" android:theme="@style/PaymentezAppTheme"/>
        <activity android:name="com.paymentez.plazez.sdk.controllers.PmzResultActivity" android:theme="@style/PaymentezAppTheme"/>
        <activity android:name="com.paymentez.plazez.sdk.controllers.PmzPayAndPlaceActivity" android:theme="@style/PaymentezAppTheme"/>
    </application>

</manifest>