<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.fennoma.paymentezsdk">

    <application
        android:allowBackup="true">

        <activity android:name=".controllers.FirstActivity" android:theme="@style/PaymentezAppTheme"/>
        <activity android:name=".controllers.SecondActivity" android:theme="@style/PaymentezAppTheme"/>
        <activity android:name=".controllers.ThirdActivity" android:theme="@style/PaymentezAppTheme"/>
        <activity android:name=".controllers.FourthActivity" android:theme="@style/PaymentezAppTheme"/>
        <activity android:name=".controllers.PaymentezPurchaseDetailActivity" android:theme="@style/PaymentezAppTheme"/>
        <activity android:name=".controllers.PaymentezPaymentCheckerActivity" android:theme="@style/PaymentezAppTheme"/>
    </application>

</manifest>